@include media-breakpoint-up(lg) {
    .container {
        max-width: 1140px;
    }
    .sidebar{
        &.sidebar-dark{
            .inner-sidebar{
                border-right: 1px solid darken($sidebar-color-dark, 5);
            }
        }
        .inner-sidebar{
            border-right: 1px solid darken($light, 5);
            box-sizing: content-box;
        }
    }
}