$box-img: (
    'lg': 10rem,
    'md': 5rem,
    'sm': 2.5rem,
    'xs': 1.8rem,
);

@each $name, $box in $box-img {
    .img-#{$name}{
        height: $box; width: $box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        
        &:hover{
            .content{
                display: block;
            }
        }
        .content{
            background-color: rgba($dark, .25);
            display: none;
            height: 100%;
            width: 100%;
        }
    }
}