.navbar-home{
    background: transparent;
    z-index: 10;
    // height: 60px;
    top: 0px; left: 0px;
    .logo{
        max-height: 80px;
    }
    &.bottom{
        background: unset;
    }
}
.landing{
    min-height: 100vh; height: 100vh;
    width: 100%; max-width: 100%;
    background-position: top;
    background-size: cover;
    padding-top: 60px;
    position: relative;
    z-index: 0;

    .banner{
        width: 50%;
        position: absolute;
        top: 50%; left: 30%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 10rem;
        h1{
            color: #10233e!important; 
        }
        .logo{
            width: 90%;
            max-width: 1000px;
        }
    }
    .h5{
        max-width: 400px;
        line-height: 2rem;
    }
    .action{
        position: absolute;
        bottom: 2rem; left: 50%;
        transform: translateX(-50%);
        background-color: yellow;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .1rem;
        @extend .px-5;
        @extend .py-3;
    }
}

@include media-breakpoint-down(md){
    
    .landing{
        .banner{
            width: 100%;
            top: 40%; left: 0%;
            padding: 0rem 1.5rem;
            transform: translateX(0%) translateY(-50%);
            font-size: 10rem;
            text-align: left!important;
            h1{
                font-size: 1.5rem;
            }
            .h5{
                font-size: 1rem;
                text-align: justify;
                margin: unset;
            }
            .logo{
                width: 50%;
                // filter: drop-shadow(2px 4px 5px $dark);
            }
        }
    }
}
@include media-breakpoint-down(sm){
    
    .landing{
        .banner{
            h1{
                font-size: 1.2rem;
                max-width: 70%;
            }
            .h5{
                font-size: 1rem;
                text-align: justify;
                margin: unset;
                line-height: 1.5rem;
                max-width: 50%;
            }
            .logo{
                width: 70%;
            }
        }
    }
}

.sidebar-home{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
    transform: translateX(-100%);
    transition: all .5s ease;
    top: 0px;
    background-color: $light;
    &.show{
        transform: translateX(0%);
    }
    .navbar-nav{
        padding-left: 2rem;
        .nav-item{
            font-family: 'Roboto Condensed', sans-serif!important;
            .nav-link{
                transition: all .25s ease;
                font-size: 2rem;
                color: $dark!important;
                @extend .font-weight-light;
                &:hover{
                    background: unset;
                    padding-left: 1rem;
                }
            }
        }
    }
}
.navbar-nav{
    .nav-item{
        font-family: 'Roboto Condensed', sans-serif!important;
    }
}
.nav-default{
    &.light{
        .nav-item{
            .nav-link{
                color: $dark!important;
            }
        }
    }
    .nav-item{
        .nav-link{
            transition: all .25s ease;
            &:hover{
                background: yellow;
                color: $dark!important;
            }
        }
    }
}
.page-profil{
    background: #11102A;
    background: $light;
    min-height: 100vh;
    max-width: 100vw!important;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}