a{
    color: darken($blue, 20);
    
    &[href="#"]{
        color: darken($blue, 50);
    }
    &:not([href="#"]){
        color: darken($blue, 20);
    }
    &:hover{
        background-color: rgba($blue, .15);
        text-decoration: none;
    }
}